/* Reset some basic styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #141414; 
}

nav img {
    height: 30px; 
}


.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #e50914; 
}
