.Netflix-logo{
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.938);
  border-radius: 50%;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  
}